<div class="container-fluid">

  <div class="search-container">

    <!-- <div class="form">
      <label class="label">Sem autocomplete</label>
      <div>
        <input class="form-control" [formControl]="searchControl">
        <button class="btn btn-dark"
                [disabled]="!searchControl.valid"
                (click)="doSearch()">Pesquisar</button>
      </div>
    </div> -->

    <div class="form">
      <label class="label">Pesquise aqui qual é o valor nutricional
   de um prato à sua escolha.</label>
      <div>
        <input class="form-control" [formControl]="searchControl">
        <button class="btn btn-dark"
                [disabled]="!searchControl.valid"
                (click)="doSearch()">Pesquisar</button>
        <ul>
        </ul>
      </div>
    </div>


  </div>

  <jv-loader *ngIf="loading$ | async"></jv-loader>

  <div *ngIf="!(loading$ | async) && !(error$ | async) && !!food">
    <app-current-food [food]="food"></app-current-food>

  </div>

  <div *ngIf="!(loading$ | async) && error$ | async">
    <a>Tentar novamente</a>
  </div>

</div>

